{%- if type == "string" -%}
    {%- if "minLength" in keys -%}
        {{ restriction("Must be at least <code>" ~ keys["minLength"].literal ~ "</code> characters long", "min-length", keys["minLength"].html_id) }}
    {%- endif -%}
    {%- if "maxLength" in keys -%}
        {{ restriction("Must be at most <code>" ~ keys["maxLength"].literal ~ "</code> characters long", "max-length", keys["maxLength"].html_id) }}
    {%- endif -%}
{%- endif -%}
{%- if type in ["integer", "number"] -%}
    {%- set restriction_text = (schema | get_numeric_restrictions_text("<code>", "</code>")) -%}
    {%- if restriction_text -%}
        {{ restriction(schema | get_numeric_restrictions_text("<code>", "</code>"), "numeric", schema.html_id ~ "_number") }}
    {%- endif -%}
{%- endif -%}
