{%- set property_name = sub_property.keywords['title'].literal if "title" in sub_property.keywords and is_pattern_property else sub_property_name -%}

{%- set is_required = sub_property_name in required_properties -%}
{% set html_id = sub_property.html_id %}
<div class="accordion" id="accordion{{ html_id }}">
    <div class="card" id="{{ html_id }}">
        <div class="card-header">
            <h2 class="mb-0">
                <span class="property-name card-title">{{ property_name | escape }}</span> <a class="anchor-link" href="#{{ html_id }}">¶</a>

                {%- if is_required -%}
                    {{ " " }}<span class="badge badge-warning required-property">Required</span>
                {%- endif -%}
                {%- if sub_property is deprecated -%}
                    {{ " " }}<span class="badge badge-danger deprecated-property">Deprecated</span>
                {%- endif -%}
                {%- if is_pattern_property -%}
                    {{ " " }}<span class="badge badge-info pattern-property">Pattern Property</span>
                {%- endif -%}
            </h2>
        </div>

        <div id="{{ html_id }}" class="property-definition-div" aria-labelledby="heading{{ html_id }}">
            <div class="card-body">
                {%- if sub_property.path_to_property != property_name -%}
                    <h6 class="element-path">{{ sub_property.path_to_property }}</h6>
                {%- endif -%}

                {%- if is_pattern_property -%}
                    <h2 class="handle">
                        <label>Pattern Property</label>
                    </h2>
                    <p>All property whose name matches the following regular expression must respect the following conditions</p>
                    <span class="pattern-value">Property name regular expression: <code>{{ sub_property_name | escape }}</code></span>
                    <br/>
                {%- endif -%}

                <details id="details{{ html_id }}">
                    <summary>Expand this section...</summary>
                    {{ content(sub_property) }}
                </details>
            </div>
        </div>
    </div>
</div>