{%- macro restriction(inner_text, css_class_name) -%}
    <p><span class="badge badge-light restriction {{ css_class_name }}-restriction">{{ inner_text }}</span></p>
{%- endmacro -%}

{%- macro tabbed_section(operator, property, property_path, index) -%}
    <h2 class="handle">
      <label>{% if operator == "allOf" -%}All of{% elif operator == "anyOf" -%}Any of{% elif operator == "oneOf" -%}One of{% endif -%}</label>
    </h2>
    {%- set tab_label = "Option" -%}
    {%- if operator == "allOf" -%}
        {%- set tab_label = "Requirement" -%}
    {%- endif -%}
    <ul class="nav nav-tabs" id="tabs{{ index }}_{{ operator }}" role="tablist">
        {%- for _ in property[operator] -%}
            <li class="nav-item">
                <a class="nav-link {% if loop.index == 1 -%}active {% endif -%} {{ operator }}-option"
                   id="tab{{ index }}_{{ operator }}_element{{ loop.index }}"
                   data-toggle="tab" href="#tab-pane{{ index }}_{{ operator }}_element{{ loop.index }}" role="tab"
                >{{ tab_label }} {{ loop.index }}</a>
            </li>
        {%- endfor -%}
    </ul>
    <div class="tab-content card">
        {%- for element in property[operator] -%}
            <div class="tab-pane fade card-body {% if loop.index == 1 -%}active show{% endif -%}"
                 id="tab-pane{{ index }}_{{ operator }}_element{{ loop.index }}" role="tabpanel">
                {{ content(index ~ "_" ~ loop.index, tab_label ~ " " ~ loop.index, element, property_path) }}
            </div>
        {%- endfor -%}
    </div>
{%- endmacro -%}

{%- macro content(index, property_name, property, property_path) -%}
    {%- set property, property_path = (property | resolve_ref(schema, property_path)) -%}

    {%- set description = property.get("description") | get_description -%}
    {# Display description #}
    {%- if description -%}
        {%- if description is description_short -%}
            <span class="description">{{ description | markdown }}</span>
        {%- else -%}
            <div class="description collapse" id="collapseDescription{{ index }}">
                {{ description | markdown }}
            </div>
            <a class="collapse-description-link collapsed" data-toggle="collapse" href="#collapseDescription{{ index }}" aria-expanded="false" aria-controls="collapseDescription{{ index }}"></a>
        {%- endif -%}
    {%- endif -%}

    {# Handle having oneOf or allOf with only one condition #}
    {%- if "allOf" in property and (property["allOf"] | length) == 1 -%}
        {{ content(index, property_name, property["allOf"][0], property_path) }}
    {%- elif "anyOf" in property and (property["anyOf"] | length) == 1 -%}
        {{ content(index, property_name, property["anyOf"][0], property_path) }}
    {%- else -%}
        {# Resolve type #}
        {%- set default, has_default = property | get_default -%}
        {%- set type = property | get_type_name -%}

        {# Display type #}
        {%- if not property is combining -%}
            <span class="badge badge-dark value-type">Type: {{ type }}</span>
        {%- endif -%}
        {%- if has_default -%}
            {{ " " }}<span class="badge badge-success default-value">Default: {{ default | python_to_json }}</span>
        {%- endif -%}
        {%- if "properties" in property -%}
            {%- set required_properties = property.get("required") or [] -%}
            {%- for sub_property_name, sub_property in property["properties"].items() -%}
                {{ subsection(False, index ~ "_" ~ loop.index, sub_property_name, sub_property, required_properties, property_path) }}
            {%- endfor -%}
        {%- endif -%}

        {# Handle actual requirement #}
        {%- if "allOf" in property -%}
            <div class="all-of-value">{{ tabbed_section("allOf", property, property_path, index) }}</div>
        {%- endif -%}
        {%- if "anyOf" in property -%}
            <div class="any-of-value">{{ tabbed_section("anyOf", property, property_path, index) }}</div>
        {%- endif -%}
        {%- if "oneOf" in property -%}
            <div class="one-of-value">{{ tabbed_section("oneOf", property, property_path, index) }}</div>
        {%- endif -%}
        {%- if "not" in property -%}
            <div class="not-value">
            <h4>Must <strong>not</strong> be:</h4>
            <div class="card">
                <div class="card-body">
                {{ content(index ~ "_not", property_name, property["not"], property_path) }}
                </div>
            </div>
            </div>
        {%- endif -%}
        {%- if "enum" in property -%}
            <div class="enum-value">
            <h4>Must be one of:</h4>
            <ul class="list-group">
            {%- for enum_choice in property.enum -%}
                <li class="list-group-item">{{ enum_choice | python_to_json }}</li>
            {%- endfor -%}
            </ul>
            </div>
        {%- endif -%}
        {%- if "const" in property -%}
            <span class="const-value">Specific value: <code>{{ property.const | python_to_json }}</code></span>
        {%- endif -%}
        {%- if "pattern" in property -%}
            <span class="pattern-value">Must match regular expression: <code>{{ property.pattern }}</code></span>
        {%- endif -%}
        {%- if type == "string" -%}
            {%- if "minLength" in property -%}
                {{ restriction("Must be at least <code>" ~ property.minLength ~ "</code> characters long", "min-length") }}
            {%- endif -%}
            {%- if "maxLength" in property -%}
                {{ restriction("Must be at most <code>" ~ property.maxLength ~ "</code> characters long", "max-length") }}
            {%- endif -%}
        {%- endif -%}
        {%- if type in ["integer", "number"] -%}
            {%- set restriction_text = (property | get_numeric_restrictions_text("<code>", "</code>")) -%}
            {%- if restriction_text -%}
                {{ restriction(property | get_numeric_restrictions_text("<code>", "</code>"), "numeric") }}
            {%- endif -%}
        {%- endif -%}
        {%- if type.startswith("array") -%}
            {%- if "minItems" in property -%}
                {{ restriction("Must contain a minimum of <code>" ~ property.minItems ~ "</code> items", "min-items") }}
            {%- endif -%}
            {%- if "maxItems" in property -%}
                {{ restriction("Must contain a maximum of <code>" ~ property.maxItems ~ "</code> items", "max-items") }}
            {%- endif -%}
            {%- if "uniqueItems" in property and property.uniqueItems == True -%}
                {{ restriction("All items must be unique", "unique-items") }}
            {%- endif -%}
            {%- if "items" in property and property["items"] is mapping and property["items"] != {} -%}
                <h4>Each item of this array must be:</h4>
                <div class="card">
                    <div class="card-body items-definition">
                        {# Note that property["items"] is needed here because property.items is a function #}
                        {{ content(index ~ "_items", property_name ~ " Items", property["items"], property_path) }}
                    </div>
                </div>
            {%- endif -%}
            {%- if "contains" in property and property["contains"] != {} -%}
                <h4>At least one of the items must be:</h4>
                <div class="card">
                    <div class="card-body items-contain-definition">
                    {{ content(index ~ "_not", property_name, property["contains"], property_path) }}
                    </div>
                </div>
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro subsection(expanded, index, property_name, property, required_properties, property_path) -%}
    {# Resolve reference #}
    {%- set property, property_path = (property | resolve_ref(schema, property_path)) -%}

    {%- set is_required = property_name in required_properties -%}
    <div class="accordion" id="accordion{{ index }}">
        <div class="card">
            <div class="card-header" id="heading{{ index }}">
                <h2 class="mb-0">
                    <button class="btn btn-link property-name-button" type="button" data-toggle="collapse" data-target="#collapse{{ index }}"
                            aria-expanded="{{ expanded }}" aria-controls="collapse{{ index }}">
                        <span class="property-name">{{ property_name }}</span>
                        {%- if is_required -%}
                            {{ " " }}<span class="badge badge-warning required-property">Required</span>
                        {%- endif -%}
                        {%- if property is deprecated -%}
                            {{ " " }}<span class="badge badge-danger deprecated-property">Deprecated</span>
                        {%- endif -%}
                    </button>
                </h2>
            </div>

            <div id="collapse{{ index }}"
                 class="collapse {% if expanded %}show{% endif %} property-definition-div" aria-labelledby="heading{{ index }}"
                 data-parent="#accordion{{ index }}">
              <div class="card-body">
                {{ content(index, property_name, property, property_path) }}
              </div>
            </div>
        </div>
    </div>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Overpass:300,400,600,800">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="schema_doc.css">
    <script src="https://use.fontawesome.com/facf9fa52c.js"></script>
    {%- set title = schema.get("title") -%}
    {%- if title -%}
        <title>{{ title }}</title>
        <h1>{{ title }}</h1>
    {%- else -%}
        <title>Schema Docs</title>
    {%- endif -%}
</head>
<body>
    {%- set properties = schema.get("properties") -%}
    {%- if properties -%}
        {%- set required_properties = schema.get("required") or [] -%}
        {%- for property_name, property in properties.items() -%}
            {{ subsection(False, loop.index, property_name, property, required_properties, schema_path) }}
        {%- endfor -%}
    {%- endif -%}
</body>
</html>