<h2 class="handle">
  <label>{% if operator == "allOf" -%}All of{% elif operator == "anyOf" -%}Any of{% elif operator == "oneOf" -%}One of{% endif -%}</label>
</h2>
{%- set tab_label = "Option" -%}
{%- if operator == "allOf" -%}
    {%- set tab_label = "Requirement" -%}
{%- endif -%}
<ul class="nav nav-tabs" id="tabs{{ current_id }}_{{ operator }}" role="tablist">
    {%- for _ in property[operator] -%}
        {%- set tab_id = current_id ~ "__option" ~ loop.index -%}
        <li class="nav-item">
            {%- set _none = current_path | record_path_id(property_path, tab_id) -%}
            <a class="nav-link {% if loop.index == 1 -%}active {% endif -%} {{ operator }}-option"
               id="{{ tab_id }}" data-toggle="tab" href="#tab-pane_{{ tab_id }}" role="tab"
               onclick="setAnchor('#{{ tab_id }}')"
            >{{ tab_label }} {{ loop.index }}</a>
        </li>
    {%- endfor -%}
</ul>
<div class="tab-content card">
    {%- for element in property[operator] -%}
        {%- set tab_id = current_id ~ "__option" ~ loop.index -%}
        <div class="tab-pane fade card-body {% if loop.index == 1 -%}active show{% endif -%}"
             id="tab-pane_{{ tab_id }}" role="tabpanel">
            {%- set current_path = current_path ~ "/" ~ loop.index0 -%}
            {{ content(tab_id, tab_label ~ " " ~ loop.index, element, property_path, current_path, True) }}
        </div>
    {%- endfor -%}
</div>