{% set content %}
{% if schema.kw_min_length %}
| **Min length** | {{ schema.kw_min_length.literal }} |
{% endif %}
{% if schema.kw_max_length %}
| **Max length** | {{ schema.kw_max_length.literal }} |
{% endif %}
{% if schema.kw_pattern %}
{% if schema.examples|length -%}
| **Must match regular expression** | ```{{ schema.kw_pattern.literal | replace('|', '\|') }}``` [Test](https://regex101.com/?regex={{ schema.kw_pattern.literal | urlencode }}&testString={{ schema.examples[0] | urlencode }}) |
{% else -%}
| **Must match regular expression** | ```{{ schema.kw_pattern.literal  | replace('|', '\|')}}``` [Test](https://regex101.com/?regex={{ schema.kw_pattern.literal | urlencode }}) |
{%- endif %}
{% endif %}
{% if schema.keywords.get("multipleOf") %}
| **Multiple of** | {{ schema.keywords.get("multipleOf").literal }} |
{% endif %}
{% if schema.keywords.get("minimum") or schema.keywords.get("exclusiveMinimum") %}
| **Minimum** | {{ schema | md_get_numeric_minimum_restriction() }} |
{% endif %}
{% if schema.keywords.get("maximum") or schema.keywords.get("exclusiveMaximum") %}
| **Maximum** | {{ schema | md_get_numeric_maximum_restriction() }} |
{% endif %}
{% endset %}
{% if content | length > 0 %}
| Restrictions |   |
| ------------ | - |
{{ content }}

{% endif %}
