{% set ns = namespace(additional_properties_property=false) %}
| Property | Pattern | Type | Deprecated | Additional | Description |
| -------- | ------- | ---- | ---------- | ---------- | ----------- |
{% for sub_property in schema.iterate_properties %}
  {%- set html_id = sub_property.html_id -%}
| {{- "+ " if sub_property.is_required_property else "- " }} [{{- sub_property.property_name | escape_for_md -}}](#{{- html_id -}}{{- ")" -}}
| {{- 'Yes' if sub_property.is_pattern_property else 'No' -}}
| {{- 'Combination' if schema is combining else sub_property.type_name | escape_for_md -}}
| {{- '![made-with-Markdown](https://img.shields.io/badge/Deprecated-red)' if sub_property is deprecated else 'No' -}}
  {%- if sub_property.is_additional_properties -%}
    {% set ns.additional_properties_property = True %}
    {%- if sub_property.is_additional_properties_schema -%}
    | {{ " " }}[![made-with-Markdown](https://img.shields.io/badge/Should-conform-blue)](#{{- html_id }} "Each additional property must conform to the following schema")
    {%- else -%}
    | {{ " " }}[![made-with-Markdown](https://img.shields.io/badge/Any%20type-allowed-green)](# "Additional Properties of any type are allowed.")
    {%- endif -%}
  {%- else -%}
| {{ "No" }}
  {%- endif -%}
| {{- sub_property | get_description | first_line(80) | escape_for_md or "-" -}} {{ "|" }}
{% endfor %}
{% if not ns.additional_properties_property %}
  {%- if schema.explicit_no_additional_properties %}
  | additionalProperties | - | - | - | - | {{ " " }}[![made-with-Markdown](https://img.shields.io/badge/Not%20allowed-red)](# "Additional Properties not allowed.") | - |
  {%- else %}
  | additionalProperties | - | - | - | - | {{ " " }}[![made-with-Markdown](https://img.shields.io/badge/Any%20type-allowed-green)](# "Additional Properties of any type are allowed.") | - |
  {%- endif %}
{% endif %}