<table>
 	<tr>
    <td><b>Min items</b></td>
    <td>{{ schema.kw_min_items.literal | default('N/A') }}</td>
 	</tr>
	<tr>
    <td><b>Max items</b></td>
    <td>{{ schema.kw_max_items.literal | default('N/A') }}</td>
	</tr>
	<tr>
    <td><b>Items unicity</b></td>
    <td>{{ 'True' if schema.kw_unique_items and schema.kw_unique_items.literal == True else 'False' }}</td>
 	</tr>
</table>

{% if schema.kw_items %}
{{ "Each item of this array must be" | md_heading(depth+1) }}
{% with schema=schema.kw_items, skip_headers=False, depth=depth+1 %}
    {% include "content.html" %}
{% endwith %}
{% endif %}
{% if schema.kw_contains and schema.kw_contains.literal != {} %}
{{ "At least one of the items must be" | md_heading(depth+1) }}
{% with schema=schema.kw_contains, skip_headers=False, depth=depth+1 %}
    {% include "content.html" %}
{% endwith %}
{% endif %}