
{% set propertiesTable %}
{% for sub_property in schema.iterate_properties %}
  {%- set html_id = sub_property.html_id -%}
{% filter trim %}
| {{- "+ " if sub_property.is_required_property else "- " }} [{{- sub_property.property_name | escape_for_md -}}](#{{- html_id -}}{{- ")" -}}
| {{- 'Yes' if sub_property.is_pattern_property else 'No' -}}
| {{- 'Combination' if sub_property is combining else sub_property.type_name | escape_for_md -}}
| {{- badge("Deprecated", "red") if sub_property is deprecated else 'No' -}}
{%- if sub_property.should_be_a_link(config) -%}
| Same as [{{ sub_property.links_to.link_name }}](#{{ sub_property.links_to.html_id }})
{%- elif sub_property.refers_to -%}
| In {{ sub_property.ref_path }}
{%- else -%}
| - 
{%- endif %}
{%- if title -%}
| {{ title | first_line(80) | escape_for_md }}
{%- else -%}
| {{- sub_property | get_description | first_line(80) | escape_for_md or "-" -}}
{%- endif -%}
{% endfilter %}
{{ "|" }}
{% endfor %}
{% endset %}

{% if propertiesTable | length > 0 %}
| Property | Pattern | Type | Deprecated | Definition | Title/Description |
| -------- | ------- | ---- | ---------- | ---------- | ----------------- |
{{ propertiesTable -}}
|  |  |  |  |  |
{% endif %}