| Node | 
| ---- |
{% for node in current_node.array_items %}
| [{{ node.definition_name or title ~ " " ~ loop.index }}](#{{ node.html_id }}) |
{% endfor %}
{% for node in current_node.array_items %}
    {% set title_level = base_level ~ loop.index ~ "." %} 
    {%- set title -%}
        {%- if config.show_breadcrumbs %}
        {% with schema=node %}
            {%- include "breadcrumbs.html" %}
        {% endwith %}
        {%- else -%}
        {{- node.property_name -}}
        {% endif %}
    {%- endset -%}
    {% call heading(depth+1, title_level, html_id) -%}
        {% if node.is_pattern_property %}Pattern{% endif %} Property `{{- title | escape_for_md -}}`
    {%- endcall %}
    {% with schema=node, skip_headers=False, base_level=base_level, level=level, depth=depth %}
        {% include "content.html" %}
    {% endwith %}
{% endfor %}